body {
    background-color: aliceblue;
}



button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: aquamarine;
    color: rgb(202, 130, 23)
}
h6 {
    color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
p {
    color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
button:hover {
    opacity: 80%;
    background-color: orange;
}
#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .6vw;
    padding-bottom: 5vw;

}
 
#games img {    height: 15.6vw;
    width: 15.6vw;
    border-radius: 1vw;
    margin: .5vw;
    cursor: pointer;
    user-select: none;
    transition: transform .2s;
}
 
#games img:hover {
    transform: scale(1.03);
}
#gamecategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .6vw;
    padding-bottom: 5vw;

}
 
#gamecategories img {    height: 15.6vw;
    width: 15.6vw;
    border-radius: 1vw;
    margin: .5vw;
    cursor: pointer;
    user-select: none;
    transition: transform .2s;
}
 
#gamecategories img:hover {
    transform: scale(1.03);
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) saturate(200%) brightness(70%);
    color: #fff;
    display: flex;
    height: 7vw;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 0 1%;
    z-index: 5;
    margin: auto;
}

nav img {
    height: 80%;
    width: auto;
    margin-right: 1%;
    border-radius: 1vw;
    cursor: pointer;
    user-select: none;
    box-shadow: 5px 5px 10px rgba(53, 53, 53, 0.459);
}

nav h1 {
    font-size: 4vw;
    font-weight: 800;
    margin-right: 1%;
}



